#app_main{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflowY: hidden;
}

#left_side{
    display: inline-block;
    width: 20%;
}
#app_header{
    display: inline-block;
    position: relative;
    left: 220px;
    width: 63%;
    bottom: 600px ;
}
/* #just_icons{
    position: relative;
    left: 100px;
} */
